@using BookStore_project.Models.Cart;
@model IEnumerable<CartViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}


<div class="single_top">
  <div class="single_grid">
    <div id="cartContent">
      <table class="table">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên sản phẩm</td>
                        <td>Hình ảnh</td>
                        <td>Giá</td>
                        <td>Số lượng</td>
                        <td>Thành tiền</td>
                        <td>#</td>
                        <td>Action</td>
                    </tr>
                    @{
                        var sumPrice = 0;
                    }
                    @foreach (var item in Model)
                    {
                        sumPrice = sumPrice + item.TotalPrice;
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td><img style="width: 200px; height: 200px;" src="@item.ImageURL" /></td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.TotalPrice</td>
                            <td>#</td>
                            <form asp-controller="Cart" asp-action="RemoveFromCart" method="get">
                                <input type="hidden" name="bookId" value="@item.Id" />

                                <td><button type="submit" class="btn btn-danger"  >Delete Item</button></td>
                            </form>
                        </tr>
                    }
                </thead>
        <tbody id="cartBody"></tbody>
      </table>
      <a asp-controller="Home" asp-action="Index" class="btn btn-success" id="btnContinue">Tiếp tục mua hàng</a>
      <a class="btn btn-primary" id="btnCheckout" asp-action="Checkout" asp-route-id="">Thanh toán</a>
      <div class="pull-right">
        Tổng tiền: <span id="lblTotalOrder">@sumPrice</span>
      </div>
    </div>

    <div class="clearfix"> </div>
  </div>

</div>

