@model IEnumerable<BookStore_project.Models.Book.BookIndexViewModel>

@{
    ViewData["Title"] = "Index Home";
    Layout = User.IsInRole("Admin") ? "~/Views/Shared/_Layout.cshtml" : "~/Views/Shared/_layoutUser.cshtml";
}
 
@*<h2>Welcome to the Index page!</h2>

<p>This is the index page of your application.</p>*@
<div class="col-4 p-0 justify-content-end">
    <form asp-action="Index" asp-controller="Home">
        <div class="form-group">
            <input class="form-control" type="text" name="SearchText" placeholder="Search Key">
            <input class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
</div>

<div class="row">
    @foreach (var item in Model){
    <div class="col-lg-3 col-md-3 mb-4">
        <div class="product-box">
            <div class="product-inner-box position-relative">
                <div class="icons position-absolute">
                     <button class="btn" type="submit">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    <form asp-controller="Book" asp-action="CreateProductDetail" method="get">
                        <input type="hidden" name="ID" value="@item.ID" />
                        <button class="btn" type="submit">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                    </form>   
                </div>
                <input type="hidden" value="@Html.DisplayFor(modelItem => item.ID)">
                    <img src="@Html.DisplayFor(modelItem => item.Image_URL)" alt="@Html.DisplayFor(modelItem => item.Name)" class="img-fluid">

                <div class="cart-btn">
                    <button class="btn btn-white shadow-sm rounded-pill"><i class="fa-solid fa-cart-shopping"></i> Add to Cart </button>
                </div>

            </div>
            <div class="product-info" style="padding-top:10px;display:flex; flex-direction:column; justify-content:center; align-items:center">
                <div class="product-name">
                    <h4 style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</h4>
                </div>
                <div class="product-price">
                    <span style="color:red">@Html.DisplayFor(modelItem => item.Price)   VND</span>
                </div>
            </div>
        </div>
    </div>
    }
</div>