@model IEnumerable<BookStore_project.Models.User.UserIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                Is Locked
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lock)
                </td>
                <td>
                    @if(item.Lock==false){
                    <a asp-action="lock" asp-route-id="@item.id">lock</a>
                    }
                    else{
                    <a asp-action="Unlock" asp-route-id="@item.id">Unlock</a>
                    }
                </td>
                    
    
        </tr>
}
    </tbody>
</table>
