@model BookStore_project.Models.Bill.BillDetailViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Book List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Bill Detail</li>
    </ol>
</nav>
<br />
<div>
    <h4>BillDetailViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Model.Date.ToShortDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total_money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total_money)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bill_status_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bill_status_ID)
        </dd>
    </dl>
</div>
<div>
</div>