@model PagedList.IPagedList<BookStore_project.Models.Author.AuthorIndexViewModel>
@using PagedList.Mvc
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                DOB
            </th>
            <th>
               URL
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.DOB.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img_url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                <a asp-action="Detail" asp-route-id="@item.ID">Detail</a>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

            Trang@(Model.PageCount < Model.PageNumber ?0: Model.PageNumber) / @Model.PageCount
@for(int i = 1; i <=@Model.PageCount; i++)
{
    <a asp-action="Index" asp-route-page="@i">@i</a>
}