@model PagedList.IPagedList< BookStore_project.Models.Employee.EmployeeIndexViewModel>
@using PagedList.Mvc
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div class="form-group">
        <lable for="SearchString"> Search By Employee Name</lable>
        <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-primary"/>

    </div>

</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Employee Phone Number
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeePhone_Number)
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.employeeID">Edit</a>
                    <a asp-action="Detail" asp-route-id="@item.employeeID">Detail</a>
                    <a asp-action="Delete" asp-route-id="@item.employeeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="pagination">
    @for (int i = 1; i <= @Model.PageCount; i++)
    {
        @if (Model.PageNumber == i)
        {
                <a asp-action="Index" asp-route-page="@i" class="active">@i</a>
        }
        else
        {
                <a asp-action="Index" asp-route-page="@i">@i</a>
        }
    }
</div>
<style>
   .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
          border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
</style>